.card {
  min-width: 8rem;
  margin: 0;

  &--big {
    margin: 0;
  }

  &__title {
    margin: 0;
    padding: 0.5rem 0 0 0.5rem;
    font-weight: bold;
  }

  &__info {
    margin-bottom: 0;
    padding: 0 0.5rem 0.5rem 0.5rem;
    font-size: 0.8rem;
  }
}

.image {
  width: 100%;
}
