.card {
  min-width: 5rem;
  max-width: 8rem;

  &__text {
    padding: 0.5rem;
  }

  &__title {
    margin: 0;
    font-weight: bold;
  }

  &__info {
    margin-bottom: 0;
    font-size: 0.8rem;
  }
}
