.footer {
  min-width: 20rem;
  margin-top: 1rem;
  background: $c-footer;
  color: $c-white;

  a {
    color: inherit;
    text-decoration: none;
  }
}

.nav-item {
  &--copyright + &--links {
    display: flex;
    justify-content: space-around;
  }
}
