.container {
  min-width: 20rem;
  max-width: 90rem;
  margin: 0 auto;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: calc(100% / 6 - 1rem - 1rem);
  margin: 1rem;
  box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.4);

  &__title {
    margin-top: 0.5rem;
    font-weight: bold;
  }

  &__info {
    font-size: 0.8rem;
  }
}
