.flex {
  display: flex;
  justify-content: center;
  padding: 6rem;
  background: $c-flex;

  &__text {
    margin: 0;
    color: $c-white;
  }
}

.absolute {
  background: $c-absolute;

  &__text {
    margin: 0;
    color: $c-white;
  }
}
