.flex {
  padding: 5rem;
  background: $c-flex;

  &__text {
    display: flex;
    justify-content: center;
    max-width: 65rem;
    margin: 0;
    color: $c-white;
    font-weight: bold;
    text-align: center;
  }
}

.absolute {
  width: 100%;
  padding: 5rem;
  background: $c-absolute;

  &__text {
    position: absolute;
    left: 50%;
    max-width: 65rem;
    margin: 0;
    transform: translate(-50%, 0);
    color: $c-white;
    font-weight: bold;
    text-align: center;
  }
}
