$c-white: #fff;
$c-flex: #020e4e;
$c-absolute: #5b0e13;
$c-footer: #333;

// @import 'yoga-sass/assets/yoga';
// @import 'normalize-css/normalize';

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'font-awesome/scss/font-awesome';
@import 'box-sizing';
@import 'reset';
@import 'components/navbar';
@import 'components/hero';
@import 'components/main';
@import 'components/footer';
